<h1>Products</h1>
<div id="products">
    <%= render "products/products" %>
</div>
<script>
$(function(){
   $('.pagination a').attr('data-remote', 'true')
});
</script>
<div class="new-product">
	<%= link_to "Create Product", :controller => "products", :action => "new"%><br />
	<%= link_to "Back", :controller => "products", :action => "index"%>
</div>

<style type="text/css">
	body
	{
		background-color: #ce14b8;
	}
</style>